<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Page Content -->
<div th:fragment="contact">
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Contact</h2>
            <p>
                Voor meer informatie omtrent dit event kan u terecht bij </p>
            <br>
            <p>Nele Bossens
                <br>
                Trainer - trajectbegeleider
                <br>


                T/M 016 66 12 30  -  0495 67 59 69
                <br>
                nele.bossens@obelisk.be
                <br>


                Ik ben bereikbaar op ma-woe-do-vr</p>
        </div>
    </section>
</div>
</body>
</html>