<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
        <!-- Page Content -->
        <div th:fragment="countdown">
            <section class="py-5">
                <div class="container">
                    <h2 class="font-weight-light">Countdown</h2>
                    <p>Deze Digitale Jobbeurs zal beginnen over: </p>
                    <h2 id="demo"></h2>
                    </br>
                    <h3 class="font-weight-light">CV's beschikbaar als .ZIP bestand</h3>
                    <p>Hieronder kunt u alle CV's van de kandidaat studenten in 1 keer downloaden als ZIP bestand</p>
                    <a class="btn btn-secondary" href="/files/JavaPotentialsCvBundle.rar" download="CV's Java Potentials.rar" role="button">Download als .ZIP bestand</a>
                </div>
            </section>
        </div>
    </body>
</html>