<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
</body>
<footer th:fragment="footer">
    <div id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Design &copy; Kevin van der Kruk</small>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="../img/VDAB.jpg" class="img-thumbnail" alt="VDAB Logo blauw">
                </div>
                <div class="col-4">
                    <img src="../img/Cevora.jpg" class="img-thumbnail" alt="Cevora Logo blauw">
                </div>
                <div class="col-4">
                    <img src="../img/Realdolmen.jpg" class="img-thumbnail" alt="Cevora Logo blauw">
                </div>
            </div>
        </div>
    </div>
</footer>
</html>