<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Page Content -->
<div th:fragment="content">
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Over Onze Opleiding</h2>
            <p>Wij zijn een dynamische groep van jonge personen die, vanuit een passie voor softwareontwikkeling, in juni gestart zijn met een intensief traject Java-development te doorlopen. Deze cursus wordt georganiseerd door Realdolmen in samenwerking met VDAB & Cevora.</p>
            <br>
            <h2 class="font-weight-light">Wat kunnen de Java Potentials allemaal?</h2>
            <p>Zoals eerder vermeld werd, is dit een intensieve en uitgebreide opleiding.  We verwerven een sterke basis in Java, en leren ook allerhande development tools gebruiken. Daarnaast werden we ook begeleid in het ontwikkelen van een aantal relevante soft skills op het vlak van communicatie en samenwerking.
                Doordat iedere deelnemer ook buiten de gemeenschappelijke lessen zijn specifieke interesses binnen development verder verkent, heeft ieder van ons ook een persoonlijke waaier aan vaardigheden ontwikkeld. Hieronder lijsten we even op welke modules in onze cursus aan bod komen.
            <ul class="list-group">
                <li class="list-group-item">Java</li>
                <li class="list-group-item">Maven</li>
                <li class="list-group-item">Spring</li>
                <li class="list-group-item">JPA / Hibernate</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">TML & CSS</li>
                <li class="list-group-item">SQL</li>
                <li class="list-group-item">Docker</li>
                <li class="list-group-item">Jenkins</li>
            </ul>
            </p>
            <br>
            <h2 class="font-weight-light">Wat zijn de doelstellingen van Java Potentials?</h2>
            <p>Wij kijken uit naar dit evenement als een opportuniteit om: enerzijds een job en werkomgeving te vinden die bij onze vaardigheden en gemotiveerde instelling past, en anderzijds om contacten te leggen binnen de industrie om onze carrières een goede start te geven.
                We hopen dat u net zo enthousiast bent over onze jobdag als wij zijn en kijken er naar uit om u te ontmoeten op ons ‘Java Potentials’ evenement
            </p>
        </div>
    </section>
</div>
</body>
</html>