<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Page Content -->
<div th:fragment="content">
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Over Onze Opleiding</h2>
            <p>Wij zijn een dynamische groep van jonge personen die, vanuit een passie voor softwareontwikkeling, in juni gestart zijn met een intensieve opleiding tot Java ontwikkelaar. Deze cursus wordt georganiseerd in samenwerking met Cevora en VDAB.</p>
            <br>
            <h2 class="font-weight-light">Wat hebben wij te bieden?</h2>
            <p>Zoals eerder vermeld werd, is dit een intensieve en uitgebreide opleiding.  We verwerven een sterke basis in Java, en leren ook allerhande development tools gebruiken. Daarnaast worden we ook begeleid in het ontwikkelen van een aantal relevante soft skills op het vlak van communicatie en samenwerking.
                Doordat iedere deelnemer ook buiten de gemeenschappelijke lessen zijn specifieke interesses binnen development verder verkent, heeft ieder van ons ook een persoonlijke waaier aan vaardigheden ontwikkeld. Hieronder lijsten we even op welke modules in onze cursus aan bod komen.
            <ul class="list-group">
                <li class="list-group-item">Java</li>
                <li class="list-group-item">Maven</li>
                <li class="list-group-item">Spring</li>
                <li class="list-group-item">JPA / Hibernate</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">TML & CSS</li>
                <li class="list-group-item">SQL</li>
                <li class="list-group-item">Docker</li>
                <li class="list-group-item">Jenkins</li>
            </ul>
            </p>
            <br>
        </div>
    </section>
</div>
</body>
</html>