<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="../img/Kevin.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Kevin van der Kruk</h5>
                        <p class="card-text">31 jaar, Kalmthout</p>
                           <a class="btn btn-dark" data-toggle="collapse" href="#collapse01" role="button" aria-expanded="false" aria-controls="collapseExample">
                               Extra info
                         </a>
                         <div class="collapse" id="collapse01" >
                             <p>
                                 <br>
                                 Ik heb het afgelopen jaar bij Real Dolmen, i.s.m. Cevora en VDAB, een herscholing gevolgd tot Java ontwikkelaar.

                                 Mijn kennis van front end technieken komt tot uiting in het feit dat ik enorm graag stijlvolle websites bouw. Dit heb ik me voor een groot deel zelf aangeleerd. Dankzij de cursus Java en JavaScript heb ik nu ook het interactieve back end gedeelte onder de knie.
                             </p>
<!--                             <a href="https://github.com/Lektro/" target="_blank">GitHub</a><br/>-->
<!--                             <strong>+324 68 05 88 67</strong><br/>-->
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="../img/Wouter.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Wouter Kenis</h5>
                        <p class="card-text">23 jaar, Mechelen </p>
                        <a class="btn btn-dark" data-toggle="collapse" href="#collapse02" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Extra info
                        </a>
                        <div class="collapse" id="collapse02">
                            <p>
                                <br>
                                Ik ben Wouter Kenis, 21 jaar uit Hombeek, nabij Mechelen.
                                Aan howest in kortrijk leerde programmeren in het kader van videospellen.
                                Ik ben vaardig in C++ en Java en heb in het verleden kleine projecten gemaakt voor Arduino.
                                Unit testing software zoals JUnit en database connectors als JDBC  zijn niet nieuw voor me.

                                Ik leer snel bij en ben geïnteresseerd hoe de nieuwste technologieën werken.
                                Graag werk ik samen met anderen om elk project tot een goed einde te brengen.

                                Ik ben op zoek naar een job als developer, met voorkeur naar back-end.
                                Liefst werk ik in een klein, samenhangend team met duidelijke structuur.

                            </p>
                            <!--                            <a href="https://github.com/wouterKenis1/" target="_blank">GitHub</a><br/>-->
<!--                            <strong>+324 99 71 43 01</strong><br/>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="../img/Maxim.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Maxim Verbeeck</h5>
                        <p class="card-text">28 jaar, Antwerpen</p>
                        <a class="btn btn-dark" data-toggle="collapse" href="#collapse03" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Extra info
                        </a>
                        <div class="collapse" id="collapse03">
                            <p>
                                <br>
                                Hallo, Ik ben Maxim en ik woon te Antwerpen. Ik ben geboeid door code en de uitdaging om voortdurend te kunnen bijleren. Ik wil graag als junior java developer starten en steeds betere code kunnen schrijven. Hulpvaardigheid is mijn grootste pluspunt en leergierigheid is wat ik zoek in een job en dat is exact waarom de IT-sector me boeit.
                            </p>
<!--                            <a href="https://github.com/MaximVerb" target="_blank">GitHub</a><br/>-->
<!--                            <strong>+324 79 19 32 24 </strong><br/>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="../img/KlaasDeCock.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Klaas De Cock</h5>
                        <p class="card-text">xx jaar, Kontich</p>
                        <a class="btn btn-dark" data-toggle="collapse" href="#collapse04" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Extra info
                        </a>
                        <div class="collapse" id="collapse04">
                            <p>
                                <br>
                                Gedreven software developer met een passie voor programmeren met Java. Elf jaar werkervaring als leerkracht en professioneel muzikant hebben me geleerd goed te organiseren en duidelijk te communiceren. Omgeschoold tot Java developer ben ik op zoek naar een ambitieus bedrijf waar ik mijn vermogen om gestructureerd en analytisch problemen aan te pakken verder kan ontwikkelen.
                            </p>
<!--                            <a href="https://github.com/Superklaas" target="_blank">GitHub</a><br/>-->
<!--                            <strong>+324 91 07 59 60</strong><br/>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row  justify-content-center">
                <div class="col-md-3 p-1">
                    <div class="card">
                        <img class="card-img-top" src="../img/ThomasG.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Thomas Goos</h5>
                            <p class="card-text">33 jaar, Boom</p>
                            <a class="btn btn-dark" data-toggle="collapse" href="#collapse05" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Extra info
                            </a>
                            <div class="collapse" id="collapse05">
                                <p>
                                    <br>
                                    Ik ben Thomas, 32 jaar en afkomstig uit Boom. Ik ben sportief, leergierig en ondernemend. Als gevolg van die laatste twee eigenschappen volg ik momenteel een opleiding tot Java ontwikkelaar.
                                    Na deze opleiding hoop ik mijn ondernemerschap en creativiteit ten dienste te kunnen stellen van een IT onderneming.
                                    Ik hoop in een open bedrijfscultuur terecht te komen, waar ik mijn nieuw verworven skills verder kan en mag ontwikkelen.
                                </p>
<!--                                <a href="https://github.com/Goos0018" target="_blank">GitHub</a><br/>-->
<!--                                <strong>+324 85 42 33 12</strong><br/>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 p-1">
                    <div class="card">
                        <img class="card-img-top" src="../img/ThomasV.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Thomas Veris</h5>
                            <p class="card-text">24 jaar, Antwerpen</p>
                            <a class="btn btn-dark" data-toggle="collapse" href="#collapse06" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Extra info
                            </a>
                            <div class="collapse" id="collapse06">
                                <p>
                                    <br>
                                    Hallo, mijn naam is Thomas Veris, ik ben 24 jaar oud en ik ben afkomstig uit Rijmenam. Ik ben een software ontwikkelaar met ervaring in het gebruik van Python, Visual Basic en SQL. Daarnaast ben ik ook bekend met het ontwikkelen van websites en diverse achterliggende applicaties (zoals bijv. een webshop). Ik ben natuurlijk altijd geïnteresseerd in het bijschaven en uitbreiden van mijn kennis en in functie daarvan volg ik momenteel een cursus over Java-ontwikkeling en het gebruik van allerlei gerelateerde tools.
                                    Naast mijn kennis heb ik ook andere kwaliteiten te bieden, ik ben uitstekend in communiceren en heb ervaring met klantgericht werk te verrichten, ik kan ook heel goed de input van klanten effectief toepassen. Als jonge werknemer heb ik enorm veel enthousiasme en motivatie te bieden. Daarbij sluit aan dat ik een job niet gewoon als “werk” zie, maar als een kans om elke dag nieuwe dingen bij te leren.

                                </p>
<!--                                <a href="https://github.com/ThomasVeris/">Github</a><br/>-->
<!--                                <strong>+324 86 86 87 65</strong><br/>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-1">
                    <div class="card">
                        <img class="card-img-top" src="../img/Tibo.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tibo Baguette</h5>
                            <p class="card-text">20 jaar, Lier</p>
                            <a class="btn btn-dark" data-toggle="collapse" href="#collapse07" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Extra info
                            </a>
                            <div class="collapse" id="collapse07">
                                <p>
                                    <br>
                                    ik ben Tibo ik ben 20jaar en ik woon in Lier,

                                    ik heb een secundair diploma in IT en bouw mijn IT-kennis nu verder uit via een opleiding Java
                                    Developer.

                                    Ik ben momenteel het meest gevorderd in Java maar ik heb ook basiskennis van andere programmeertalen zoals lua, php, html

                                    Ik ben een snelle leerder en ben altijd heel gemotiveerd om meer te leren over mijn interesses zoals programmeren,

                                    En ik ben op zoek naar een job waar ik mijn kennis in programmeren kan uitbreiden en verder kan groeien.

                                </p>
<!--                                <a href="https://github.com/tiboBaguette">Github</a><br/>-->
<!--                                <strong>+324 74 56 48 79</strong><br/>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>

