<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
        <!-- Page Content -->
        <div th:fragment="voordelen">
            <section class="py-5">
                <div class="container">
                    <h2 class="font-weight-light">Voordelen voor uw bedrijf</h2>
                    <p>Tijdens onze online jobdag kan u op korte tijd een aantal beloftevolle IT’ers ontmoeten.
                        Zij staan klaar om hun nieuw verworven kennis in de praktijk te brengen en bespreken met u graag de opties om dit binnen uw bedrijf te doen.
                        <br>
                        Stages of een IBO behoren daarbij absoluut tot de mogelijkheden om hen snel te kunnen inwerken in uw bedrijf.
                        Tijdens de jobbeurs is er ruimte om uw bedrijf kort voor te stellen, zodat de studenten u ook beter kunnen leren kennen.
                        <br>
                        Vervolgens kan u in gesprek gaan met de studenten.
                        </p>
                        <p>
                        Wij, de studenten Java ontwikkelaars, kijken uit naar dit evenement als een opportuniteit om een job en werkomgeving te vinden die bij onze vaardigheden en gemotiveerde instelling past, en om contacten te leggen binnen de industrie om onze carrières een goede start te geven.
                        <br>
                        We hopen dat u net zo enthousiast bent over onze jobdag als wij zijn, en kijken er naar uit om u te ontmoeten op ons ‘Java Potentials’ evenement!
                        <br>
                        <br>
                        Deelname is gratis mits inschrijving. Concreet, wat moet u alvast weten?
                        <br>
                        Datum: vrijdag 4 december 2020
                        <br>
                        Uur: 09:00 - 14:30
                        <br>
                        Klik op onderstaande knop om u in te schrijven
                        <br>
                        <br>
                        <a href="https://www.eventbrite.com/e/registratie-java-potentials-121208827867" class="btn btn-dark " role="button" aria-pressed="true" target="_blank">Deelname is gratis</a>
                        <br>
                        <br>
                        Tot op de jobbeurs,
                        <br>
                        Het Java Potentials Team</p>
                </div>
            </section>
        </div>
    </body>
</html>